/*PALETA DE COLORES:
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/
header{
    background-color: #EAC926;
    width: 100%;
}
body{
    margin: 0px 0px 0px 0px;
    background-color: #ebebeb;
}
footer{
    background-color: white;
}
main{
    width: 90%;
    margin: auto;
}
.section-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 32px 0 0;
}
.logo-header{
    width: 45%;
    margin: 0%;
}
.barra-busqueda{
    display: flex;
    width: 45%;
    background-color: white;
    align-self: center;
    border-radius: 5px;
}
.barra-b{
    width: 100%;
    border: none;
}
.form-input{
    display: flex;
    width: 100%;
    margin: 6px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}
.button-lupa{
    border: none;
    padding: 0px;
    background-color: transparent;
}
.encabezado{
    font-family: 'Roboto';
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}
.nav{
    padding: 0px;
    font-family: "Roboto";
    font-size: 13px;
}
a{
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
    vertical-align: top;
}
.precios{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.descuentos{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #39b54a;
    margin: 0px;

}
.descripcion{
    display: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #666;
}
.textos{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.titulares{
   font-size: 24px; 
   font-family: 'Roboto', sans-serif;
   color: #666;
   width: 100%;
   margin: 5px 0;
   padding: 5px 0;
}
.titulares-footer{
    margin: auto;
    color: #666;
}
.burguer-menu{
    width: 32px;
    margin: 4% 45%;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(6, 3, 156);
    color: white;
}
.baner-header{
    margin: 0px;
}
.figure-producto{
    margin: 0px;
}
article{
    width: 100%;
    margin-bottom: 10px;
}
.detalle-producto{
    position: relative;
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 15px;
    text-align: left;

}
.truck{
    display: block;
    position: absolute; right: 20px; top: -15px;
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 30px;
    padding: 5px;
}
.icono-footer{
    color: #1259c3;
    font-size: 2em;
}
.pie-de-pagina{
    text-align: center;
    padding: 0px;
}
#textos{
    font-size: 10px;
}
*{
    box-sizing: border-box;
}

/*DISPOSITIVO MOBILE*/
@media(max-width: 360px){
    .nav{
        display: none;
    }
}
/*DISPOSITIVO TABLET*/
@media(min-width: 361px){
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }
    .burguer-menu{
        display: none;
    }
    .caja-pd{
        display: flex;
        align-items: baseline;
    }
    .descuentos{
        width: 50%;
        margin-left: 10px;
    }
    .descripcion{
        display: block;
        font-size: 10px;
    }
    .section-articulos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .logo-header{
        width: 30%;
        padding: 10px;
    }
    .section-header{
        padding: 31px 0;
    }
    .barra-busqueda{
        width: 30%;
    }
    .encabezado{
        width: 30%;
        font-size: 7px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 1% 1%;
    }
    .lista{
        display: flex;
        justify-content: space-around;
        width: 40%;
        text-align: center;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

}
/*DISPOSITIVO DESKTOP*/
@media(min-width: 769px){
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20%;
    }
    .burguer-menu{
        display: none;
    }
    .caja-pd{
        display: flex;
        align-items: baseline;
    }
    .precios{
        width: auto;
    }
    .descuentos{
        width: 50%;
        margin-left: 10px;
        font-size: 9px;
    }
    .section-articulos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .encabezado{
        font-size: 10px;
    }
    .lista{
        width: 35%;
    }
    .pie-de-pagina{
        display: flex;
        justify-content: center;
    }
    .li-footer{
        width: 33%;
        padding: 3% 5%;
    }
    .titulares-footer{
        font-size: 16px;
        color: #666;
    }
    .textos{
        font-size: 12px;
    }
    #textos{
        font-size: 13px;
        padding: 1%;
    }
    *{
        box-sizing: border-box;
    }
}
